---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta"> {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %} - Tags: {{ page.tags | array_to_sentence_string }}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
